<!--change avatar-->
<div class="row-fluid userinfo-section" ng-controller = "AvatarController">
	<div class="userinfo-inner">
		<div class="control-group offset2">
			
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeErr()" >{{alert.msg | translate}}</alert>

			<span class="controls">
				<label for="uploader">
					<img ng-src={{currentuser.avatar}} width="256" height="256" class="userinfo-avatar" ng-click="changeAvatarTrigger()"/>
					<input id="uploader" style="display:none" type="file" name="upload" accept="image/png,image/jpeg" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().changeAvatarFn(this)"/>
				</label>
				
			</span>
		</div>
	</div>
</div>