<!--change avatar-->
<div class="row-fluid userinfo-section">
	<div class="userinfo-inner">
		<div class="userinfo-center userinfo-marginleft">
			<div>
				<img ng-src="/data/avatar/character.png" width="256" height="256" class="userinfo-avatar" />
			</div>
			<div style="overflow:hidden;height:0;max-height:0;">
				<input type="file" name="upload" accept="image/png,image/jpeg" />
			</div>
		</div>
		<div class="userinfo-center">
			<div translate="CLICK_CHANGE"></div>
		</div>
	</div>
</div>