<!-- Toolbars -->
<div class="btn-toolbar cat-toolbar" ng-controller="CatalogueController">
	<div class="btn-group">
		<a class="btn cat-tool-btn" title="{{ 'ROOTDIR' | translate}}" ng-click="backToRootDir()">
			<i class="icon-home"></i>
		</a>
		<a class="btn cat-tool-btn" title="{{ 'BACKWORD_DIR' | translate}}" ng-click="backwordDir()">
			<i class="icon-chevron-left"></i>
		</a>
		<a class="btn cat-tool-btn" title="{{ 'FORWARD_DIR' | translate}}" ng-click="forwardDir()">
			<i class="icon-chevron-right"></i>
		</a>
	</div>
</div>
<!-- Files -->
<div class="cat-files-container">
	<div class="cat-folder" translate="FOLDER"></div>
	<ul class="cat-filestree">
		<li class="cat-filestree-item open">
			<span class="name">
			    <i class="icon-folder-close"></i>
			    <i class="icon-folder-open"></i>
		        project01
			</span>
			<div class="file">
				<ul class="cat-filestree">
					<li class="cat-filestree-item open">
						<span class="name">
						    <i class="icon-folder-close"></i>
						    <i class="icon-folder-open"></i>
					        src
						</span>
						<div class="file">
							<ul class="cat-filestree">
							    <li class="cat-filestree-item">
				    			    <span class="name">
								        <i class="icon-file"></i>
								            popush.h
								    </span>
							    </li>
							    <li class="cat-filestree-item">
				    			    <span class="name">
								        <i class="icon-file"></i>
								            popush.cpp
								    </span>
							    </li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="cat-filestree-item">
			<span class="name">
			    <i class="icon-folder-close"></i>
			    <i class="icon-folder-open"></i>
		        project02
			</span>
		</li>
		<li class="cat-filestree-item">
		    <span class="name">
		        <i class="icon-file"></i>
		            README.txt
		    </span>
		</li>
	</ul>
</div>