<div ng-controller="EditorController">
	<div class="row-fluid" style="padding-top:10px">
	<tabset>
	    <tab ng-repeat="tab in tabs" active="tab.active">
	    	<tab-heading>
        		{{tab.title}} 
        		<a class="edt-close-btn btn-link" ng-click="closeFile()"><i class="icon-remove"></i></a>
      		</tab-heading>
      		<div class="row-fluid" ng-if="tab.type=='file'">
		    	<div ng-class="editor_width">
			    	<div class="row-fluid edt-editor-toolbar">
			    		<div class="edt-filepath">
			    			<span ng-repeat="i in [] | range:tab.path.length">
			    			/&nbsp;<a class="btn-link">{{tab.path[i]}}</a>
			    			</span>
			    		</div>
						<div class="edt-editor-btns">
						    <button class="btn btn-primary edt-editor-btn" title="{{'RUN' | translate }}">
						   		<i class="icon-play"></i>
						   	</button> 
						    <button class="btn btn-primary edt-editor-btn" title="{{'DEBUG' | translate }}">
						    	<i class="icon-eye-open"></i>
						    </button>
						    <button class="btn btn-primary edt-editor-btn" title="{{'CONSOLE' | translate }}">
						    	<i class="icon-share"></i>
						    </button>
						    <button class="btn btn-primary edt-editor-btn" ng-click="setFullScreen()" title="{{'FULL_SCREEN' | translate }}">
						    	<i class="icon-fullscreen"></i>
						    </button>
						    <button class="btn btn-primary edt-editor-btn" ng-hide="chat_show" ng-click="toggleChat()" title="{{'SHOW_CHAT_WINDOW' | translate }}">
						    	<i class="icon-backward"></i>
						    </button>
						    <button class="btn btn-primary edt-editor-btn" ng-show="chat_show" ng-click="toggleChat()" title="{{'HIDE_CHAT_WINDOW' | translate }}">
						    	<i class="icon-forward"></i>
						    </button>
						</div>
					</div>
					<textarea ui-codemirror="editorOptions" ng-model="model" ui-refresh="true">
					</textarea>
				</div>
				<div class="span3" ng-show="chat_show">
					<div class="edt-chat">
						<div class="edt-chat-inner">
						</div>
					</div>
					<input class="edt-input-msg" type="text">
					<div class="edt-chat-btn">
						<button class="btn" type="button"><i class="icon-comment"></i></button>
						<button class="btn active" type="button" id="voice-on"><i class="icon-volume-up"></i></button>
					</div>
				</div>
			</div>
			<div class="row-fluid" ng-if="tab.type=='folder'">
		    	<div class="row-fluid edt-file-toolbar">
		    		<div class="edt-filepath">
		    			<span ng-repeat="i in [] | range:tab.path.length">
		    			/&nbsp;<a class="btn-link">{{tab.path[i]}}</a>
		    			</span>
		    		</div>
					<div class="edt-file-btns">
						<button class="btn btn-primary edt-file-btn" title="{{'NEW_FILE' | translate }}">
					   		<i class="icon-file"></i>
					   	</button>
					   	<button class="btn btn-primary edt-file-btn" title="{{'NEW_FOLDER' | translate }}">
					   		<i class="icon-folder-close"></i>
					   	</button>
					   	<button class="btn btn-primary edt-file-btn" title="{{'RENAME' | translate }}">
					   		<i class="icon-pencil"></i>
					   	</button>
					   	<button class="btn btn-primary edt-file-btn" title="{{'DELETE' | translate }}">
					   		<i class="icon-trash"></i>
					   	</button>
						<button class="btn btn-primary edt-file-btn" title="{{'SHARE' | translate }}">
					   		<i class="icon-share"></i>
					   	</button>
					</div>
				</div>
				<table class="table table-hover">
					<tbody>
						<tr>
							<th class="edt-col1">&nbsp;</th>
							<th class="edt-col2">&nbsp;</th>
							<th class="edt-col3">文件名</th>
							<th class="edt-col4">状态</th>
							<th class="edt-col5">修改时间</th>
						</tr>
						<tr ng-repeat = "file in files">
							<td class="edt-col1"><input type="checkbox"></input></td>
							<td class="edt-col2"><img class="edt-file-icon" src="img/ext/{{file.icon}}.png"></td>
							<td class="edt-col3">
								<a class="btn-link" ng-click="openFile('{{file.name}}','{{file.icon}}','{{file.type}}')">
									{{file.name}}
								</a>
							</td>
							<td class="edt-col4">{{file.status}}</td>
							<td class="edt-col5">{{file.time}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row-fluid" ng-if="tab.type=='setting'">
				<!--userinfo setting-->
				<div class="row-fluid userinfo-header">
					<span class="userinfo-icon">
						<a title="{{ 'BACKTO_EDITOR' | translate}}" ui-sref="workspace.editor">
							<i class="icon-circle-arrow-left"></i>
						</a>
					</span>
					<span translate="ACCOUNT_SETTINGS"></span><!--This title will change according to the item cilcked by user-->
				</div>	

				<div class="row-fluid">
					<div class="span3 userinfo-lateralbar ">
						<div class="userinfo-height ">
							<div class="userinfo-title" translate="USER_INFO">
							</div>
							<div class="userinfo-menu">
								<ul class="menu">
									<li class="active">
										<a ui-sref="workspace.userinfo.settings" translate="ACCOUNT_SETTINGS"></a>
									</li>
									<li>
										<a ui-sref="workspace.userinfo.avatarMgt" translate="AVATAR_MGT"></a>
									</li>
									<li>
										<a ui-sref="workspace.userinfo.passwordMgt" translate="PASSWARD_MGT"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="span9">
						<div ui-view></div>
					</div>
				</div>
			</div>
	    </tab>
  </tabset>
</div>
</div>
