<div class="form-horizontal userinfo-section" ng-controller = "PasswordController">
	<div class="userinfo-inner offset2">
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeErr()" >{{alert.msg | translate}}</alert>

	    <div class="control-group">
		  <label class="control-label" for="changepassword-old" translate="OLD_PASSWORD"></label>
		  <div class="controls">
		    <input type="password" id="changepassword-old" ng-model="currentuser.password" focus="true" />
		  </div>
		</div>
	    <div class="control-group">
		  <label class="control-label" for="changepassword-new" translate="NEW_PASSWORD"></label>
		  <div class="controls">
		    <input type="password" id="changepassword-new"  ng-model="currentuser.newPassword"/>
		  </div>
		</div>
	    <div class="control-group">
		  <label class="control-label" for="changepassword-confirm" translate="CONFIRM_PASSWORD"></label>
		  <div class="controls">
		    <input type="password" id="changepassword-confirm" ng-model="currentuser.confirmPwd" />
		  </div>
		</div>

		<div class="userinfo-center userinfo-marginleft">
			<button type="submit" class="btn" translate="OK" ng-click="changePasswordFn()"></button>
		</div>
	</div>
</div>
