<div class="row-fluid" ng-controller="RoomController">
	<div ng-class="editor_width">
		<div class="row-fluid edt-editor-toolbar">
			<div class="edt-filepath">
				<span ng-repeat="p in currentTab.path"> / <a class="btn-link">{{ p }}</a></span>
			</div>
			<div class="edt-editor-btns">
				<button class="btn btn-primary edt-editor-btn" title="{{'RUN' | translate }}"> <i class="icon-play"></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" title="{{'DEBUG' | translate }}">
					<i class="icon-eye-open"></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" title="{{'CONSOLE' | translate }}" 			ng-click="toggleConsole()">
					<i class="icon-share"></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" ng-click="setFullScreen(true)" title="{{'FULL_SCREEN' | translate }}">
					<i class="icon-fullscreen"></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" ng-hide="chat_show" ng-click="toggleChat()" title="{{'SHOW_CHAT_WINDOW' | translate }}">
					<i class="icon-backward"></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" ng-show="chat_show" ng-click="toggleChat()" title="{{'HIDE_CHAT_WINDOW' | translate }}">
					<i class="icon-forward"></i>
				</button>
			</div>
		</div>
		<textarea ui-codemirror="editorOptions" ng-model="model" ui-refresh="true"></textarea>
		<div class="row-fluid" ng-show="show_console">
			<div class="edt-under-editor">
				<div class="span8 edt-console">
					<div class="edt-console-title well well-top">控制台
					</div>
					<div class="edt-console-inner">1231

					</div>
					<input class="edt-console-input" type="text"/>
				</div>
				<div class="edt-varlist">
					<div class="well well-top">
						<div class="btn-group">
							<button class="btn disabled debug-btn" type="button">
								<i class="icon-arrow-down"></i>
							</button>
							<button class="btn disabled debug-btn" type="button">
								<i class="icon-arrow-right"></i>
							</button>
							<button class="btn disabled debug-btn" type="button">
								<i class="icon-share-alt"></i>
							</button>
							<button class="btn disabled debug-btn" type="button">
								<i class="icon-play"></i>
							</button>
						</div>
					</div>
					<div id="varlistreal">
						<table class="table table-hover table-bordered" id="varlist-table">
							<tr ng-repeat="var in vars">
								<td class="col2">
									<span ng-show="var.showVar" ng-click="rename($index)">{{var.name}}</span>
									<input ng-blur="submitVar($index)" ng-enter="submitVar($index)" class="edt-varlist-input" type="text" ng-model="var.name" ng-hide="var.showVar" focus-me="var.focus" />
								</td>
								<td class="col3">{{var.value}}
								</td>
							</tr>
							<tr>
								<td class="col2" title="{{'ADD_WATCH' | translate }}" ng-click="addVar()">
									<i class="icon-plus"></i>
								</td>
								<td class="col3">
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span3 chat-window" ng-show="chat_show">
		<div class="edt-chat">
			<div class="edt-chat-inner">
				<p ng-repeat="chatmessage in chatmessages">
					<span class="edt-chat-name self">
						{{chatmessage.name}}&nbsp;&nbsp;{{chatmessage.time}}
					</span><br>
					{{chatmessage.content}}
				</p>
			</div>
		</div>
		<input ng-model="inputMessage" class="edt-input-msg" type="text" />
		<div class="edt-chat-btn">
			<button class="btn" type="button" ng-click="sendChatMessage()"><i class="icon-comment"></i></button>
			<button class="btn active" type="button" id="voice-on"><i class="icon-volume-up"></i></button>
		</div>
	</div>
</div>