<div class="row-fluid" ng-controller="RoomController">
	<!--<div ng-class="editor_width" >-->
	<div ng-class="current.room.chatOpen?'span9':'span12'" >
		<div class="row-fluid edt-editor-toolbar">
			<div class="edt-filepath"> 
				<i class="room-status" ng-class="{'doing': current.room.saving, 'done': !current.room.saving}" tooltip="{{(current.room.saving?'room-saving':'room-saved')|translate}}" tooltip-trigger="mouseenter" tooltip-placement="top"></i>
				<span ng-repeat="p in tab.paths track by $index">
					/
					<a class="btn-link" ng-click="changePath(tab, $index);">{{ p }}</a>
				</span>
			</div>
			<div class="edt-editor-btns">
				<button class="btn btn-primary edt-editor-btn" ng-class="current.room.runable? 'enabled':'disabled'" title="{{'RUN' | translate }}" ng-click = "runFn()"> 
					<i ng-class="current.room.locks.run?'icon-stop':'icon-play'" ></i>
				</button>

				<button class="btn btn-primary edt-editor-btn" ng-class="current.room.debugable? 'enabled':'disabled'"  title="{{'DEBUG' | translate }}" ng-click = "debugFn()">
					<i ng-class="current.room.locks.debug?'icon-eye-close':'icon-eye-open' "></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" title="{{'CONSOLE' | translate }}" ng-click="current.room.toggleConsole(current.room.id)">
					<i class="icon-share"></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" ng-click="setFullScreen(true)" title="{{'FULL_SCREEN' | translate }}">
					<i class="icon-fullscreen"></i>
				</button>
				<!--<button class="btn btn-primary edt-editor-btn" ng-hide="current.room.chatOpen" ng-click="toggleChat()" title="{{'SHOW_CHAT_WINDOW' | translate }}">-->
				<button class="btn btn-primary edt-editor-btn" ng-hide="current.room.chatOpen" ng-click="current.room.chatOpen = !current.room.chatOpen" title="{{'SHOW_CHAT_WINDOW' | translate }}">
					<i class="icon-backward"></i>
				</button>
				<button class="btn btn-primary edt-editor-btn" ng-show="current.room.chatOpen" ng-click="current.room.chatOpen = !current.room.chatOpen" title="{{'HIDE_CHAT_WINDOW' | translate }}">
					<i class="icon-forward"></i>
				</button>
			</div>
		</div>
		<textarea ui-codemirror="editorOptions" ng-model="model" ui-refresh="true"></textarea>
		<div class="row-fluid" ng-show="current.room.consoleOpen">
			<div class="edt-under-editor">
				<div class="span8 edt-console">
					<div class="edt-console-title well well-top" translate="CONSOLE">
						<span ng-bind="current.room.consoleState"></span>
					</div>
					<div class="edt-console-inner" ng-style="bottomscroll()" scroll>
						<span ng-repeat="x in current.room.consoleOutput">
							<p ng-class="{consolestderr: (x.type == 'stderr'), consolestdin: (x.type == 'stdin'), consolestdout: (x.type == 'stdout') }" >{{x.content}}</p>
						</span>
					</div>	
					<input class="edt-console-input" type="text" ng-model = "consoleInput" ng-enter="consoleInputFn()" focus="true" />
				</div>
				<div class="row-fluid">
					<div class="well well-top">
						<div class="btn-group">
							<button class="btn disabled debug-btn" type="button"  ng-click = "debugStepFn()">
								<i class="icon-arrow-down"></i>
							</button>
							<button class="btn disabled debug-btn" type="button" ng-click = "debugNextFn()">
								<i class="icon-arrow-right"></i>
							</button>
							<button class="btn disabled debug-btn" type="button" ng-click = "debugFinishFn()">
								<i class="icon-share-alt"></i>
							</button>
							<button class="btn disabled debug-btn" type="button" ng-click = "debugContinueFn()">
								<i class="icon-play"></i>
							</button>
						</div>
					</div>
					<div class="edt-varlist" ng-style="bottomscroll()" scroll>
						<table class="table table-hover" id="varlist-table">
							<!--<tr ng-repeat="var in vars">-->
							<tr ng-repeat="var in current.room.expressionList">	
								<td class="col1">
								</td>
								<td class="col2">
									<span ng-show="var.showVar" ng-click="rename($index)">{{var.expr}}</span>
									<input ng-blur="submitVar($index)" ng-enter="submitVar($index)" class="edt-varlist-input" type="text" ng-model="var.expr" ng-hide="var.showVar" focus="var.focus" />
								</td>
								<td class="col3">{{var.value}}</td>
							</tr>
							<tr>
								<td class="col1">
								</td>
								<td class="col2" title="{{'ADD_WATCH' | translate }}" ng-click="addVar()">
									<i class="icon-plus"></i>
								</td>
								<td class="col3"></td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span3 chat-window" ng-show="current.chatOpen" ng-controller = "ChatController">
		<div class="edt-chat" ng-style="bottomscroll()" scroll>
			<div class="edt-chat-inner">
				<p ng-repeat="chatmessage in current.chat">
					<span ng-class="{selfchatname: (chatmessage.type == 'self'), syschatname: (chatmessage.type == 'system'), edtchatname: (chatmessage.type == '')}">
						{{chatmessage.name}}&nbsp;&nbsp;{{chatmessage.time}}
					</span><br />
					{{chatmessage.content}}
				</p>
			</div>
		</div>
		<input ng-model="chatInput" class="edt-input-msg" type="text"  ng-enter="sendChatMessage()" />
		<div class="edt-chat-btn">
			<button class="btn" type="button" ng-click="sendChatMessage()">
				<i class="icon-comment"></i>
			</button>
			<button class="btn" ng-class="btn_active" type="button" ng-if="show_popover==false"ng-click="enterVoiceRoom()" ><i class="icon-volume-up"></i></button>
			<button class="btn" ng-class="btn_active" type="button" ng-if="show_popover==true" popover="{{'NO_VOICE' | translate }}" popover-placement="left" popover-trigger="mouseenter"><i class="icon-volume-up"></i></button>
		</div>
	</div>
</div>