<div class="container-fluid"> 
	<div class="row-fluid" ng-controller="SignController">
		<div class="span4 offset4">
			<h2 class="message" ng-bind="signUp"></h2>
			<div class="alert hide" ng-bind="registerMessage">
			</div>
			<hr />
			<div class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="signUpInputName" ng-bind="username"></label>
					<div class="controls">
						<input type="text" id="signUpInputName" ng-model="signUpInputName" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="signUpInputPassword" ng-bind="password"></label>
					<div class="controls">
						<input type="password" id="signUpInputPassword" ng-model="signUpInputPassword" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="confirmPassword" ng-bind="confirmation"></label>
					<div class="controls">
						<input type="password" id="confirmPassword" ng-model="confirmPassword" />
					</div>
				</div>
	          <div class="control-group">
	            <div class="controls">
	              <button type="submit" class="btn btn-primary" ng-click="signUpfn()" ng-bind="signUp"></button>
	              <a class="switch-rel" href="#/" ng-bind="signIn"></a>
	            </div>
	          </div>
			</div>
		</div>
	</div>
</div>
