<div ng-controller="TabsController">
	<div class="row-fluid" style="padding-top:10px">
		<tabset>
			<tab ng-repeat="tab in tabMgr.tabs" class="tab-header" active="tab.active" select="selectTab($index)">
				<tab-heading>
					{{tab.title | translate}}
					<a class="edt-close-btn btn-link" ng-click="closeTab($index)" ng-if="tabMgr.tabs.length > 1"> <i class="icon-remove"></i>
					</a>
				</tab-heading>
				<!--If tab.type == setting-->
				<div class="row-fluid" ng-if="tab.type == 'setting'" ng-include="'partials/usersettings.html'"></div>
				<!--If tab.type == room-->
				<div class="row-fluid" ng-if="tab.type=='room'" ng-include="'partials/room.html'"></div>
				<!--If tab.type == file-->
				<div class="row-fluid" ng-if="tab.type=='dir'" ng-include="'partials/filelist.html'" ng-controller="FileListController"></div>
			</tab>
		</tabset>
	</div>
</div>