<div ng-controller="TabsController">
	<div class="row-fluid" style="padding-top:10px">
		<tabset>
			<tab ng-repeat="tab in tabs" active="tab.active" class="tab-header">
				<tab-heading>
					{{tab.title | translate}}
					<a class="edt-close-btn btn-link" ng-click="closeTab($index)" ng-if="tabs.length > 1"> <i class="icon-remove"></i>
					</a>
				</tab-heading>
				<!--If tab.type == setting-->
				<div class="row-fluid" ng-if="tab.type == 'setting'" ng-include="'partials/usersettings.html'">
				</div>
				<!--If tab.type == room-->
				<div class="row-fluid" ng-if="tab.type=='room'">
					<div ng-class="editor_width">
						<div class="row-fluid edt-editor-toolbar">
							<div class="edt-filepath">
								<span ng-repeat="p in tab.path"> / <a class="btn-link">{{p}}</a></span>
							</div>
							<div class="edt-editor-btns">
								<button class="btn btn-primary edt-editor-btn" title="{{'RUN' | translate }}"> <i class="icon-play"></i>
								</button>
								<button class="btn btn-primary edt-editor-btn" title="{{'DEBUG' | translate }}">
									<i class="icon-eye-open"></i>
								</button>
								<button class="btn btn-primary edt-editor-btn" title="{{'CONSOLE' | translate }}">
									<i class="icon-share"></i>
								</button>
								<button class="btn btn-primary edt-editor-btn" ng-click="setFullScreen()" title="{{'FULL_SCREEN' | translate }}">
									<i class="icon-fullscreen"></i>
								</button>
								<button class="btn btn-primary edt-editor-btn" ng-hide="chat_show" ng-click="toggleChat()" title="{{'SHOW_CHAT_WINDOW' | translate }}">
									<i class="icon-backward"></i>
								</button>
								<button class="btn btn-primary edt-editor-btn" ng-show="chat_show" ng-click="toggleChat()" title="{{'HIDE_CHAT_WINDOW' | translate }}">
									<i class="icon-forward"></i>
								</button>
							</div>
						</div>
						<textarea ui-codemirror="tab.editor" ng-model="model" ui-refresh="true"></textarea>
					</div>
					<div class="span3" ng-show="chat_show">
						<div class="edt-chat">
							<div class="edt-chat-inner"></div>
						</div>
						<input class="edt-input-msg" type="text">
						<div class="edt-chat-btn">
							<button class="btn" type="button">
								<i class="icon-comment"></i>
							</button>
							<button class="btn active" type="button" id="voice-on">
								<i class="icon-volume-up"></i>
							</button>
						</div>
					</div>
				</div>
				<!--If tab.type == file-->
				<div class="row-fluid" ng-if="tab.type=='folder'">
					<div class="row-fluid edt-file-toolbar">
						<div class="edt-filepath">
							<span ng-repeat="p in tab.path"> / <a class="btn-link">{{p}}</a></span>
						</div>
						<div class="edt-file-btns" ng-controller="DlgController">
							<!-- new file-->
							<button class="btn btn-primary edt-file-btn" title="{{'NEW_FILE' | translate }}">
								<i class="icon-file"></i>
							</button>
							<!-- the end of new file-->
							<button class="btn btn-primary edt-file-btn" title="{{'NEW_FOLDER' | translate }}">
								<i class="icon-folder-close"></i>
							</button>
							<button class="btn btn-primary edt-file-btn" title="{{'RENAME' | translate }}">
								<i class="icon-pencil"></i>
							</button>
							<button class="btn btn-primary edt-file-btn" title="{{'DELETE' | translate }}" ng-click="open()">
								<i class="icon-trash"></i>
							</button>
							<button class="btn btn-primary edt-file-btn" title="{{'SHARE' | translate }}">
								<i class="icon-share"></i>
							</button>
						</div>
					</div>
					<table class="table table-hover">
						<tbody>
							<tr>
								<th class="edt-col1">&nbsp;</th>
								<th class="edt-col2">&nbsp;</th>
								<th class="edt-col3">文件名</th>
								<th class="edt-col4">状态</th>
								<th class="edt-col5">修改时间</th>
							</tr>
							<tr ng-repeat = "file in files">
								<td class="edt-col1">
									<input type="checkbox"/>
								</td>
								<td class="edt-col2">
									<img class="edt-file-icon" src="img/ext/{{file.icon}}.png"></td>
								<td class="edt-col3">
									<a class="btn-link" ng-click="openFile('{{file.name}}','{{file.icon}}','{{file.type}}')">{{file.name}}</a>
								</td>
								<td class="edt-col4">{{file.status}}</td>
								<td class="edt-col5">{{file.time}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
		</tabset>
	</div>
</div>


<script type="text/ng-template" id="deletion.html">
    <div class="modal-header">
    	<button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3 translate="CONFIRM_DELETION"></h3>
    </div>
    <div class="modal-body">
        {{'CONFIRM_DELE_FILE' | translate}} <br/>
        {{'CONFIRM_DELE_FOLDER' | translate}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>