<!--header-->
<div class="row-fluid userinfo-header">
	<span class="userinfo-icon">
		<a title="{{ 'BACKTO_EDITOR' | translate}}" ui-sref="workspace.editor">
			<i class="icon-circle-arrow-left"></i>
		</a>
	</span>
	<span translate="ACCOUNT_SETTINGS"></span><!--This title will change according to the item cilcked by user-->
</div>	

<div class="row-fluid">
	<div class="userinfo-lateralbar span3">
		<div class="userinfo-title" translate="USER_INFO">
		</div>
		<div class="userinfo-menu">
			<ul class="menu">
				<li class="active">
					<a ui-sref="workspace.userinfo.settings" translate="ACCOUNT_SETTINGS"></a>
				</li>
				<li>
					<a ui-sref="workspace.userinfo.avatarMgt" translate="AVATAR_MGT"></a>
				</li>
				<li>
					<a ui-sref="workspace.userinfo.passwordMgt" translate="PASSWARD_MGT"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="span9">
		<div ui-view></div>
	</div>
</div>
