<div class="container-fluid ws-container" ng-controller="WorkspaceController">
  <div class="row-fluid ws-mainbody">
  	<div class="span2 ws-catalogue">
      <!--userinfo-->
  		<div class="row ws-userinfo">
        <a class="btn-link" ng-click="showSettings();" ><img height="32" width="32" ng-src="{{user.avatar}}" /></a>
        <span ng-bind="user.name"></span>
        <br/><a class="btn-link" translate="LOG_OUT" ng-click="logoutFn()"></a>
  		</div>
      <!--catalogue-->
      <div class="cat-folder"><a class='btn-link' translate="MYPOPUSH" ng-click="openRoot();"></a></div>
  		<div class="row-fluid ws-catalogue-block" ng-style="filetreeSize()" resize>
  	  		<div ui-view="catalogue" class="ws-catalogue-inner"></div>
  		</div>
      <!--collaborators-->
      <div class="row-fluid">
          <div ui-view="collaborators"></div>
      </div>
    </div>
  	<div class="span10 ws-editor-innner" ng-style="style()" resize>
  		<div ui-view="tabs"></div>
  	</div>
    <div ui-view="message"></div>
  </div>
</div>
