</div>
<div class="container-fluid">
  <div class="row-fluid">
          <div class="span3">
                  <div class="row-fluid">
                          <span ng-bind="username"></span>
        <img height="32" width="32" ng-src="{{avatarSrc}}" />
        <span translate="LOG_OUT"></span>
                  </div>
                <div class="row-fluid">
                          <div ui-view="catalogue"></div>
                </div>
          </div>
          <div class="span9">
                  <div ui-view="editor"></div>
          </div>
  </div>
</div>
