.cat-toolbar{
	margin: 10px 0px;
	padding: 10px 15px 15px 10px;
	background: none repeat scroll 0% 0% rgb(225, 225, 225);
	height: 30px;
}
.cat-tool-btn{
	padding: 5px 12px;
	cursor: pointer;
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	border: 1px solid rgb(213, 213, 213);
	box-shadow: none;
}
.cat-folder{
	font-size: 18px;
	line-height: 30px;
	padding: 10px;
	padding-bottom: 0px;
	background-color: rgb(225,225,225);
}
.cat-files-container{
	color: rgb(51, 51, 51);
	background-color: rgb(225,225,225);
}
.cat-filestree-container{
	margin-top: 10px;
	padding: 5px;
	height: 95%;
	background-color: #fff;
}
.cat-filestree{
	margin:0px;
	padding:0px;
	list-style:none;
	padding-left:10px;
	background-color: #fff;	
}
.cat-filestree .cat-filestree-item{
	cursor:default;
	font-size:15px;
	line-height:24px;
}
.cat-filestree .cat-filestree-item>.files{
	display:none;
	margin-left:8px;
}
.cat-filestree .cat-filestree-item>.name>i.icon-file{
	color:transparent;
}
.name {
	white-space: nowrap;
	cursor: pointer;
}
.filetree-active {
	background-color: lightblue;
}
.filetree-back {
	background-color: lightgreen;
}
input[type="text"].filelist-input {
	height: 28px;
	margin: 0;
	padding: 0;
}
.btn.edt-file-btn.inmode {
	background-color: #ccff33 !important;
}
.btn.filelist-confirm {
	height:32px;
	padding-top: 6px;
	padding-bottom: 6px;
}