.CodeMirror {
    line-height: 1.5;
    height: 392px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    background: none repeat scroll 0% 0% white;
    color: black;
}
.edt-file-btn,.edt-editor-btn
{
    margin:5px 10px 5px 10px;
}
.edt-file-btns,.edt-editor-btns
{
    float:right;
}
.edt-file-toolbar,.edt-editor-toolbar
{
    background-color:rgb(225,225,225);
}
.edt-close-btn:hover
{
    background-color: #FF9966;
}
.edt-col1
{
    width: 40px;
}
.edt-col2 
{
    width: 40px;
}
.edt-col3
{
    vertical-align: middle !important;
}
.edt-ol4 
{
    width: 40px;
}
.edt-col5 
{
    width: 155px;
}
.edt-file-icon
{
    width : 32px;
    height : 32px;
}
.edt-filepath
{
    float:left;
    padding-top: 15px;
    padding-left: 10px;
}