.nav{
    margin-bottom: 5px;
}
.CodeMirror {
    line-height: 1.5;
    height: 560px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    background: none repeat scroll 0% 0% white;
    color: black;
}
.CodeMirror-fullscreen {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    background:#fff;
}
.breakpoints {width:16px;}

.tab-content {
    overflow: hidden;
}

.edt-file-btn,.edt-editor-btn
{
    margin:5px 10px 5px 10px;
    padding: 6px 10px 6px 10px;
    background-color: rgb(255, 255, 255) !important;
}
.edt-file-btn > i {
    width: 14px;
    height: 14px;
}
.edt-file-btns,.edt-editor-btns
{
    float:right;
}
.edt-file-toolbar {
    height: 44px;
}

.edt-file-toolbar,.edt-editor-toolbar
{
    background-color:rgb(225,225,225);
}
.edt-close-btn:hover
{
    background-color: #FF9966;
}
.edt-col1
{
    width: 40px;
}
.edt-col2
{
    vertical-align: middle !important;
}
.edt-col3
{
    width: 240px;
}
.edt-col4 
{
    width: 155px;
}
.edt-file-icon
{
    width : 32px;
    height : 32px;
}
.edt-filepath
{
    float:left;
    padding-top: 15px;
    padding-left: 10px;
}

.edt-chat
{   
    height:464px;
    overflow:auto;
    padding:5px 10px;
    border:1px solid #ccc;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.edt-chat-window {
    margin-left: 15px !important;
}
.edt-under-editor
{
    height:150px;
    margin-top:10px;
    border:1px solid #ccc;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.edt-console
{
    border-right: 1px solid #ccc;
}
.edt-varlist
{
    width: 34.042553191% !important;
    margin-left: 0 !important;
    display: block;
    float: left;
    height: 152px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.well-top {
    border:none;
    margin:0;
    padding:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.edt-console-title
{
    border-bottom:1px solid #ddd;
    padding:4px 0 5px 10px;
}
.edt-console-inner
{
    height:83px !important;
    overflow:auto;
    padding:4px 8px !important;
}
.edt-console-input
{
    padding: 4px 0px !important;
    height: 20px !important;
    text-indent: 4px !important;
    margin-bottom: 0px !important;
    border-radius: 4px !important;
    width:99.5%;
}
.edt-console-inner .stdin {
    color:blue;
}
.edt-console-inner .stderr {
    color:red;
}
.edt-varlist-input
{
    padding: 4px 0px !important;
    height: 10px !important;
    text-indent: 0px !important;
    line-height: 14px;
    margin-bottom: 0px !important;
    border-radius: 4px !important;
    width:75px;
}
#varlistreal
{
    overflow: auto;
}
#varlist-table 
{
    margin:0;
    border-bottom:1px solid #ddd;
    font-size:12px;
}
#varlist-table td 
{
    padding:0px 0px 0px 0px;
}
#varlist-table .col1
{
    width:24px;
}
#varlist-table .col2 span 
{
    color:blue;
    display:block;
}
#varlist-table .col3 
{
    padding-left:4px;
    border-left:1px solid #ddd;
    color:red;
    width:66%;
}
.debug-btn
{
    padding: 4px 18.5px;
}
.edt-chat-inner 
{
    width:100%;
    cursor:text;
    overflow:hidden;
}
.edt-input-msg
{
    margin-top: 5px;
    width:220px;
}
.edt-chat-btn
{
    float:right;
}
.edt-chat-name
{
    color: #00a;
    font-size: 12px;
}
.self
{
    color: #0a0;
}