.ws-container{
	height: 100%;
}
.ws-mainbody{
	height: 100%;
}
.ws-editor-innner{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.ws-userinfo{
	padding: 10px;
}
.ws-catalogue{
	height: 100%;
}
.ws-catalogue-block{
	height:75%;
}
.ws-catalogue-inner{
	height: 95%;
	border: 10px solid rgb(225, 225, 225);
	overflow: auto;
}